/CurrencyParser/.vs/
/CurrencyParser/CurrencyParser/CurrencyParser.Android/bin/
/CurrencyParser/CurrencyParser/CurrencyParser.Android/obj
/CurrencyParser/CurrencyParser/CurrencyParser.UWP/bin/
/CurrencyParser/CurrencyParser/CurrencyParser.UWP/obj
/CurrencyParser/CurrencyParser/CurrencyParser.iOS/bin/
/CurrencyParser/CurrencyParser/CurrencyParser.iOS/obj
/CurrencyParser/CurrencyParser/CurrencyParser/bin/
/CurrencyParser/CurrencyParser/CurrencyParser/obj/
