^contentpage {
    background-color: #fffafa;
}

listView {
    background-color: #fffafa;
    color: #fffafa;
}

grid {
    background-color: #fffafa;
    color: #fffafa;
}

label {
    color: black;
    background-color: #fffafa;
}
